<% content_for(:title) { "Tuenti dashboard" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="active_users_pr0_1day" data-view="Number" data-title="Active users" data-moreinfo="PR0"></div>
      <i class="icon-bar-chart icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="active_users_cup_1day" data-view="Number" data-title="Active users" data-moreinfo="CUPCAKE"></div>
      <i class="icon-bar-chart icon-background"></i>
    </li>

    <li class="tuenti-logo-container" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="tuenti-logo">Tuenti</div>
      <p class="more-info h-tc">YESTERDAY NUMBERS</p>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="chat_messages_pr0_1day" data-view="Number" data-title="Chat messages" data-moreinfo="PR0"></div>
      <i class="icon-comments icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="chat_messages_cup_1day" data-view="Number" data-title="Chat messages" data-moreinfo="CUPCAKE"></div>
      <i class="icon-comments icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="status_posts_pr0_1day" data-view="Number" data-title="Status Posts" data-moreinfo="PR0"></div>
      <i class="icon-user icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="status_posts_cup_1day" data-view="Number" data-title="Status Posts" data-moreinfo="CUPCAKE"></div>
      <i class="icon-user icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <!--<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="instagram" data-view="Instagram" data-title="Instagram" style="background-color:#ff9618;" data-moreinfo="Instagram photos tagged with #tuenti"></div>
      <i class="icon-camera-retro icon-background"></i>
    </li>-->

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="profile_views_pr0_1day" data-view="Number" data-title="Profile Views" data-moreinfo="PR0"></div>
      <i class="icon-user icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="profile_views_cup_1day" data-view="Number" data-title="Profile Views" data-moreinfo="CUPCAKE"></div>
      <i class="icon-user icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="photo_wall_posts_pr0_1day" data-view="Number" data-title="Photo wall posts" data-moreinfo="PR0"></div>
      <i class="icon-camera-retro icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="photo_wall_posts_cup_1day" data-view="Number" data-title="Photo wall posts" data-moreinfo="CUPCAKE"></div>
      <i class="icon-camera-retro icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #tuenti"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="photo_views_pr0_1day" data-view="Number" data-title="Photo Views" data-moreinfo="PR0"></div>
      <i class="icon-camera-retro icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="photo_views_cup_1day" data-view="Number" data-title="Photo Views" data-moreinfo="CUPCAKE"></div>
      <i class="icon-camera-retro icon-background"></i>
    </li>


  </ul>
</div>
