<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  //Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [1920, 1080]
  Dashing.numColumns = 1
});
</script>

<% content_for(:title) { "Tuenti tuits" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color: #58a8e2;" data-moreinfo="Tweets tagged with #tuenti"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

  </ul>
</div>
